.level {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    margin:auto;
}

.level div {
    width: 20px;
    height: 20px;
}
.main{
    align-content: center;
    border: 3px solid #ee50e5;
    background-color: black;

}
#scoreLine{
    text-align: center;
    margin: auto;
    color: #ee50e5;
}

.pac-dot {
    background-image: url("dot.png");
}

.wall {
    background-image: url("wall.jpg");
}

.cherry {
    background-image: url("cherry.png");
}

.heart {
    background-image: url("heart.png");
}

.empty {
    background-color: white;
}

.red {
    background-image: url("red.png");
}

.pink {
    background-image: url("pink.png");
}

.blue {
    background-image: url("blue.jpg");
}

.orange {
    background-image: url("orange.jpg");
}

.purple {
    background-image: url("purple.png");
}

.pac-man {
    background-color: white;
    background-image: url("pac.png");
}

.scared {
    background-image: url("scared.png");
}